[workspace.package]
version = "0.1.0"
authors = ["Victor M. Alvarez <vmalvarez@virustotal.com>"]
edition = "2021"
homepage = "https://github.com/VirusTotal/yara-x"
readme = "README.md"
license = "MIT"

# When updating rust-version also update MSRV in:
#   .github/workflows/tests.yaml
#   .github/workflows/code_health.yaml
#
rust-version = "1.73.0"

[workspace]
members = [
    "lib",
    "capi",
    "cli",
    "fmt",
    "macros",
    "parser",
    "proto",
    "proto-yaml",
    "py",
]
resolver = "2"


[workspace.dependencies]
aho-corasick = "1.1.2"
anyhow = "1.0.75"
ariadne = "0.3.0"
array-bytes = "6.2.0"
ascii_tree = "0.1.1"
authenticode-parser = { git = "https://github.com/plusvic/rs-authenticode-parser.git", rev= "9be0b333" }
base64 = "0.21.0"
bincode = "1.3.3"
bitmask = "0.5.0"
bitvec = "1.0.1"
bstr = "1.8.0"
clap = "4.4.8"
crc32fast = "1.3.2"
criterion = "0.5.1"
enable-ansi-support = "0.2.1"
env_logger = "0.11.1"
fmmap = "0.3.2"
globwalk = "0.9.0"
indenter = "0.3.3"
indexmap = "2.1.0"
intaglio = "1.9.1"
itertools = "0.12.0"
lazy_static = "1.4.0"
line-span = "0.1.5"
linkme = "0.3"
log = "0.4"
md5 = "0.7.0"
sha1 = "0.10.6"
sha2 = "0.10.7"
# Using tlsh-fixed instead of tlsh because tlsh-fixed includes a fix for this
# issue: https://github.com/1crcbl/tlsh-rs/issues/2.
tlsh-fixed = "0.1.1"
memchr = "2.6.4"
memx = "0.1.28"
nom = "7.1.3"
num-traits = "0.2"
num-derive = "0.4.1"
pest = "2.7.5"
pest_derive = "2.7.5"
pretty_assertions = "1.4.0"
protobuf = "3.3.0"
protobuf-codegen = "3.3.0"
protobuf-json-mapping = "3.3.0"
protobuf-parse = "3.3.0"
regex-syntax = { git = "https://github.com/plusvic/regex.git", rev="423493d" }
regex-automata = { git = "https://github.com/plusvic/regex.git", rev="423493d" }
rustc-hash = "1.1.0"
smallvec = "1.10.0"
serde = "1.0"
serde_json = "1.0"
thiserror = "1.0.50"
uuid = "1.4.1"
walrus = "0.20.2"
wasmtime = "17.0.0"
yaml-rust = "0.4.5"
yansi = "0.5.1"
yara-x = { path = "lib" }
yara-x-fmt = { path = "fmt" }
yara-x-macros = { path = "macros" }
yara-x-parser = { path = "parser" }
yara-x-proto = { path = "proto" }
yara-x-proto-yaml = { path = "proto-yaml" }

# Special profile that builds a release binary with link-time optimization. 
# Compiling with this profile takes a while, but the resulting binary is
# smaller and better optimized. For building with this profile use:
#
# cargo build --profile release-lto
[profile.release-lto]
inherits = "release"
lto = true
codegen-units = 1
