[workspace.package]
version = "0.1.0"
description = "An experimental implementation of YARA in Rust"
authors = ["Victor M. Alvarez <vmalvarez@virustotal.com>"]
edition = "2021"
homepage = "https://github.com/VirusTotal/yara-x"
readme = "README.md"
license = "MIT"

# When updating rust-version also update MSRV in:
#   .github/workflows/tests.yaml
#   .github/workflows/code_health.yaml
rust-version = "1.70.0"

[workspace]
members = [
    "yara-x",
    "yara-x-cli",
    "yara-x-dump",
    "yara-x-fmt",
    "yara-x-macros",
    "yara-x-parser",
    "yara-x-proto",
    "yara-x-py",
]
resolver = "2"


[workspace.dependencies]
aho-corasick = "1.0.0"
anyhow = "1.0.65"
ariadne = "0.3.0"
arrayref = "0.3.7"
ascii_tree = "0.1.1"
base64 = "0.21.0"
bincode = "1.3.3"
bitmask = "0.5.0"
bitvec = "1.0.1"
bstr = "1.1.0"
byteorder = "1.4.3"
clap = "4.3.1"
criterion = "0.5.1"
enable-ansi-support = "0.2.1"
env_logger = "0.10.0"
fmmap = "0.3.2"
globwalk = "0.8.1"
indenter = "0.3.3"
indexmap = "2.0.0"
intaglio = "1.7.0"
itertools = "0.11.0"
lazy_static = "1.4.0"
line-span = "0.1.3"
linkme = "0.3"
log = "0.4"
md5 = "0.7.0"
sha1 = "0.10.6"
sha2 = "0.10.7"
tlsh = "0.1.0"
memchr = "2.6.3"
memx = "0.1.28"
nom = "7.1.3"
num = "0.4.0"
pest = "2.5.5"
pest_derive = "2.5.5"
pretty_assertions = "1.3.0"
protobuf = "3.2.0"
protobuf-codegen = "3.2.0"
protobuf-parse = "3.2.0"
regex-syntax = { git = "https://github.com/plusvic/regex.git", rev="423493d" }
regex-automata = { git = "https://github.com/plusvic/regex.git", rev="423493d" }
rustc-hash = "1.1.0"
smallvec = "1.10.0"
serde = "1.0.156"
serde_json = { version = "1.0.108", features = ["preserve_order"] }
thiserror = "1.0.40"
uuid = "1.4.1"
walrus = "0.20.1"
wasmtime = "12.0.2"
yaml-rust = "0.4.5"
yansi = "0.5.1"
yara-x = { path = "yara-x" }
yara-x-dump = { path = "yara-x-dump" }
yara-x-fmt = { path = "yara-x-fmt" }
yara-x-macros = { path = "yara-x-macros" }
yara-x-parser = { path = "yara-x-parser" }
yara-x-proto = { path = "yara-x-proto" }


[profile.release]
# debug = 1   # Include debug information in the binary.
#lto = true    # Enable link-time optimization.
#strip = true  # Automatically strip symbols from the binary.