[package]
name = "yara-x"
version = "0.1.0"
edition = "2021"
description = "An experimental implementation of YARA in Rust"
authors = ["Victor M. Alvarez <vmalvarez@virustotal.com>"]
readme = "README.md"
license = "MIT"

[features]
default = ["test_module"]
test_module = []

[[bin]]
name = "yr"
path = "src/bin/cli/main.rs"

[dependencies]
annotate-snippets = { version="0.9.1", features=["color"] }
ansi_term = "0.12.1"
anyhow = "1.0.65"
ariadne = "0.1.5"
ascii_tree = "0.1.1"
bitmask = "0.5.0"
bstr = "1.0.1"
clap = { version = "3.2.20", features=["cargo"] }
globset = "0.4.9"
lazy_static = "1.4.0"
line-span = "0.1.3"
num = "0.4.0"
pest = { version ="2.4.0", features=["fast-line-col"] }
pest_derive = "2.3.0"
protobuf = "3.2.0"
string-interner = "0.14.0"
thiserror = "1.0.34"
walkdir = "2.3.2"
walrus = "0.19.0"
wasmtime = { version= "2.0.2", features=["cranelift"] }
yansi = "0.5.1"
yara-x-derive = { path = "./derive",  version = "0.1.0" }

[build-dependencies]
yara-proto = { path = "./proto",  version = "0.1.0" }
protobuf = { version = "3.2.0" }
protobuf-codegen = { version = "3.2.0" }
protobuf-parse = { version = "3.2.0" }

[dev-dependencies]
indenter = { version = "0.3.3" , features=["std"] }
pretty_assertions = "1.3.0"
yaml-rust = "0.4.5"