[package]
name = "yara-x-capi"
description = """
A C API for the YARA-X library.
"""
version.workspace = true
authors.workspace = true
edition.workspace = true
readme.workspace = true
license.workspace = true
homepage.workspace = true

[lib]
name = "yara_x_capi"
crate-type = ["staticlib", "cdylib"]

[dependencies]
yara-x = { workspace = true }

[build-dependencies]
cbindgen = { workspace = true }
vcpkg = { workspace = true }