{{ define "main" }}
<section class="section container-fluid mt-n3 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-9 pb-5 text-center">
      <img src="yara-x.svg"/>
    </div>
    <div class="col-lg-10 col-xl-10 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-cta rounded-pill btn-lg my-3"
         href="docs/{{ if site.Params.doks.docsVersioning }}{{ site.Params.doks.docsVersion }}/{{ end }}intro/getting-started/"
         role="button">{{ i18n "get_started" }}</a>
      {{ .Content }}
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
{{ if site.Params.doks.backgroundDots -}}
<div class="d-flex justify-content-start">
  <div class="bg-dots"></div>
</div>
{{ end -}}
{{ if eq $.Site.Language.LanguageName "English" }}
<section class="section section-md section-features">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5 text-start">
        <h2 class="h4">Like YARA, but better</h2>
        YARA-X is a re-incarnation of <a href="https://virustotal.github.io/yara">YARA</a>, with a
        focus on user-friendliness, performance and safety.
      </div>
      <div class="col-lg-5 text-start">
        <h2 class="h4">99% rule compatible</h2>
        Most of your YARA rules will work with YARA-X without any changes. If not, it should be
        for the better.
      </div>
      <div class="col-lg-5 text-start">
        <h2 class="h4">Easy integration</h2>
        YARA-X is written in Rust, but we provide APIs for C/C++, Python and Golang.
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ define "sidebar-footer" }}
{{ if site.Params.doks.sectionFooter -}}
<section class="section section-md container-fluid bg-light">
  <div class="row justify-content-center text-center">
    <div class="col-lg-7">
      <h2 class="mt-2">Start building with Doks today</h2>
      <a class="btn btn-primary rounded-pill px-4 my-2"
         href="/docs/{{ if site.Params.doks.docsVersioning }}{{ site.Params.doks.docsVersion }}/{{ end }}prologue/introduction/"
         role="button">{{ i18n "get-started" }}</a>
    </div>
  </div>
</section>
{{ end -}}
{{ end }}
