// Put your custom SCSS code here

[data-bs-theme="dark"] body {
  background: rgb(22, 22, 37);
}

[data-bs-theme="dark"] .navbar {
  background: rgb(22, 22, 37);
}

.expressive-code pre {
  padding: 8px;
}