SOURCE_FILE@0..35
  RULE_DECL@0..35
    RULE_KW@0..4 "rule"
    WHITESPACE@4..5 " "
    IDENT@5..9 "test"
    WHITESPACE@9..10 " "
    L_BRACE@10..11 "{"
    NEWLINE@11..12 "\n"
    WHITESPACE@12..13 "\t"
    ERROR@13..33
      CONDITION_KW@13..22 "condition"
      COLON@22..23 ":"
      NEWLINE@23..24 "\n"
      WHITESPACE@24..26 "\t\t"
      BOOLEAN_EXPR@26..29
        BOOLEAN_TERM@26..29
          EXPR@26..29
            TERM@26..29
              PRIMARY_EXPR@26..29
                IDENT@26..29 "foo"
      WHITESPACE@29..30 " "
      TILDE@30..31 "~"
      WHITESPACE@31..32 " "
      INTEGER_LIT@32..33 "1"
    NEWLINE@33..34 "\n"
    R_BRACE@34..35 "}"

ERRORS:
- [30..31]: expecting `.`, `%`, `[`, `(`, operator, `of`, expression or `}`, found `~`
