SOURCE_FILE@0..251
  RULE_DECL@0..38
    RULE_KW@0..4 "rule"
    WHITESPACE@4..5 " "
    IDENT@5..11 "test_1"
    WHITESPACE@11..12 " "
    L_BRACE@12..13 "{"
    NEWLINE@13..14 "\n"
    WHITESPACE@14..15 "\t"
    ERROR@15..36
      CONDITION_KW@15..24 "condition"
      COLON@24..25 ":"
      NEWLINE@25..26 "\n"
      WHITESPACE@26..28 "\t\t"
      BOOLEAN_EXPR@28..33
        BOOLEAN_TERM@28..33
          EXPR@28..33
            TERM@28..29
              PRIMARY_EXPR@28..29
                INTEGER_LIT@28..29 "1"
            WHITESPACE@29..30 " "
            ADD@30..31 "+"
            WHITESPACE@31..32 " "
            TERM@32..33
              PRIMARY_EXPR@32..33
                INTEGER_LIT@32..33 "2"
      WHITESPACE@33..34 " "
      EQ@34..36 "=="
    NEWLINE@36..37 "\n"
    R_BRACE@37..38 "}"
  NEWLINE@38..39 "\n"
  NEWLINE@39..40 "\n"
  RULE_DECL@40..81
    RULE_KW@40..44 "rule"
    WHITESPACE@44..45 " "
    IDENT@45..51 "test_2"
    WHITESPACE@51..52 " "
    L_BRACE@52..53 "{"
    NEWLINE@53..54 "\n"
    WHITESPACE@54..55 "\t"
    ERROR@55..79
      CONDITION_KW@55..64 "condition"
      COLON@64..65 ":"
      NEWLINE@65..66 "\n"
      WHITESPACE@66..68 "\t\t"
      BOOLEAN_EXPR@68..69
        BOOLEAN_TERM@68..69
          EXPR@68..69
            TERM@68..69
              PRIMARY_EXPR@68..69
                INTEGER_LIT@68..69 "1"
      WHITESPACE@69..70 " "
      PLUS@70..71 "+"
      PLUS@71..72 "+"
      WHITESPACE@72..73 " "
      INTEGER_LIT@73..74 "2"
      WHITESPACE@74..75 " "
      EQ@75..77 "=="
      WHITESPACE@77..78 " "
      INTEGER_LIT@78..79 "3"
    NEWLINE@79..80 "\n"
    R_BRACE@80..81 "}"
  NEWLINE@81..82 "\n"
  NEWLINE@82..83 "\n"
  RULE_DECL@83..121
    RULE_KW@83..87 "rule"
    WHITESPACE@87..88 " "
    IDENT@88..94 "test_3"
    WHITESPACE@94..95 " "
    L_BRACE@95..96 "{"
    NEWLINE@96..97 "\n"
    WHITESPACE@97..98 "\t"
    ERROR@98..119
      CONDITION_KW@98..107 "condition"
      COLON@107..108 ":"
      NEWLINE@108..109 "\n"
      WHITESPACE@109..111 "\t\t"
      BOOLEAN_EXPR@111..112
        BOOLEAN_TERM@111..112
          EXPR@111..112
            TERM@111..112
              PRIMARY_EXPR@111..112
                INTEGER_LIT@111..112 "1"
      WHITESPACE@112..113 " "
      PLUS@113..114 "+"
      WHITESPACE@114..115 " "
      EQ@115..117 "=="
      WHITESPACE@117..118 " "
      INTEGER_LIT@118..119 "3"
    NEWLINE@119..120 "\n"
    R_BRACE@120..121 "}"
  NEWLINE@121..122 "\n"
  NEWLINE@122..123 "\n"
  RULE_DECL@123..167
    RULE_KW@123..127 "rule"
    WHITESPACE@127..128 " "
    IDENT@128..134 "test_4"
    WHITESPACE@134..135 " "
    L_BRACE@135..136 "{"
    NEWLINE@136..137 "\n"
    WHITESPACE@137..138 "\t"
    ERROR@138..165
      CONDITION_KW@138..147 "condition"
      COLON@147..148 ":"
      NEWLINE@148..149 "\n"
      WHITESPACE@149..152 "\t  "
      BOOLEAN_EXPR@152..162
        BOOLEAN_TERM@152..162
          EXPR@152..162
            TERM@152..162
              PRIMARY_EXPR@152..155
                IDENT@152..155 "foo"
              L_BRACKET@155..156 "["
              EXPR@156..161
                TERM@156..161
                  PRIMARY_EXPR@156..161
                    STRING_LIT@156..161 "\"foo\""
              R_BRACKET@161..162 "]"
      L_PAREN@162..163 "("
      INTEGER_LIT@163..164 "4"
      R_PAREN@164..165 ")"
    NEWLINE@165..166 "\n"
    R_BRACE@166..167 "}"
  NEWLINE@167..168 "\n"
  NEWLINE@168..169 "\n"
  RULE_DECL@169..250
    RULE_KW@169..173 "rule"
    WHITESPACE@173..174 " "
    IDENT@174..180 "test_5"
    WHITESPACE@180..181 " "
    L_BRACE@181..182 "{"
    NEWLINE@182..183 "\n"
    WHITESPACE@183..186 "   "
    PATTERNS_BLK@186..210
      STRINGS_KW@186..193 "strings"
      COLON@193..194 ":"
      NEWLINE@194..195 "\n"
      WHITESPACE@195..200 "     "
      PATTERN_DEF@200..210
        PATTERN_IDENT@200..202 "$a"
        WHITESPACE@202..203 " "
        EQUAL@203..204 "="
        WHITESPACE@204..205 " "
        STRING_LIT@205..210 "\"foo\""
    NEWLINE@210..211 "\n"
    WHITESPACE@211..214 "   "
    ERROR@214..248
      CONDITION_KW@214..223 "condition"
      COLON@223..224 ":"
      NEWLINE@224..225 "\n"
      WHITESPACE@225..230 "     "
      BOOLEAN_EXPR@230..237
        BOOLEAN_TERM@230..237
          PATTERN_IDENT@230..232 "$a"
          WHITESPACE@232..233 " "
          AT_KW@233..235 "at"
          WHITESPACE@235..236 " "
          EXPR@236..237
            TERM@236..237
              PRIMARY_EXPR@236..237
                INTEGER_LIT@236..237 "0"
      WHITESPACE@237..238 " "
      IN_KW@238..240 "in"
      WHITESPACE@240..241 " "
      L_PAREN@241..242 "("
      INTEGER_LIT@242..243 "0"
      DOT@243..244 "."
      DOT@244..245 "."
      INTEGER_LIT@245..247 "10"
      R_PAREN@247..248 ")"
    NEWLINE@248..249 "\n"
    R_BRACE@249..250 "}"
  NEWLINE@250..251 "\n"

ERRORS:
- [37..38]: expecting expression, found `}`
- [71..72]: expecting expression, found `+`
- [115..117]: expecting expression, found `==`
- [162..163]: expecting operator, `of`, expression or `}`, found `(`
- [238..240]: expecting `[`, `(`, operator or `}`, found `in`
