SOURCE_FILE@0..338
  RULE_DECL@0..44
    RULE_KW@0..4 "rule"
    WHITESPACE@4..5 " "
    IDENT@5..11 "test_1"
    WHITESPACE@11..12 " "
    L_BRACE@12..13 "{"
    NEWLINE@13..14 "\n"
    WHITESPACE@14..15 "\t"
    CONDITION_BLK@15..42
      CONDITION_KW@15..24 "condition"
      COLON@24..25 ":"
      NEWLINE@25..26 "\n"
      WHITESPACE@26..28 "\t\t"
      BOOLEAN_EXPR@28..42
        BOOLEAN_TERM@28..42
          EXPR@28..33
            TERM@28..29
              PRIMARY_EXPR@28..29
                INTEGER_LIT@28..29 "1"
            WHITESPACE@29..30 " "
            ADD@30..31 "+"
            WHITESPACE@31..32 " "
            TERM@32..33
              PRIMARY_EXPR@32..33
                INTEGER_LIT@32..33 "2"
          WHITESPACE@33..34 " "
          EQ@34..36 "=="
          WHITESPACE@36..37 " "
          EXPR@37..42
            TERM@37..38
              PRIMARY_EXPR@37..38
                INTEGER_LIT@37..38 "4"
            WHITESPACE@38..39 " "
            SUB@39..40 "-"
            WHITESPACE@40..41 " "
            TERM@41..42
              PRIMARY_EXPR@41..42
                INTEGER_LIT@41..42 "1"
    NEWLINE@42..43 "\n"
    R_BRACE@43..44 "}"
  NEWLINE@44..45 "\n"
  NEWLINE@45..46 "\n"
  RULE_DECL@46..99
    RULE_KW@46..50 "rule"
    WHITESPACE@50..51 " "
    IDENT@51..57 "test_2"
    WHITESPACE@57..58 " "
    L_BRACE@58..59 "{"
    NEWLINE@59..60 "\n"
    WHITESPACE@60..61 "\t"
    CONDITION_BLK@61..97
      CONDITION_KW@61..70 "condition"
      COLON@70..71 ":"
      NEWLINE@71..72 "\n"
      WHITESPACE@72..74 "\t\t"
      BOOLEAN_EXPR@74..97
        BOOLEAN_TERM@74..97
          EXPR@74..83
            TERM@74..75
              PRIMARY_EXPR@74..75
                INTEGER_LIT@74..75 "1"
            WHITESPACE@75..76 " "
            ADD@76..77 "+"
            WHITESPACE@77..78 " "
            TERM@78..79
              PRIMARY_EXPR@78..79
                INTEGER_LIT@78..79 "2"
            WHITESPACE@79..80 " "
            MUL@80..81 "*"
            WHITESPACE@81..82 " "
            TERM@82..83
              PRIMARY_EXPR@82..83
                INTEGER_LIT@82..83 "3"
          WHITESPACE@83..85 "  "
          GE@85..87 ">="
          WHITESPACE@87..88 " "
          EXPR@88..97
            TERM@88..89
              PRIMARY_EXPR@88..89
                INTEGER_LIT@88..89 "4"
            WHITESPACE@89..90 " "
            DIV@90..91 "\\"
            WHITESPACE@91..92 " "
            TERM@92..93
              PRIMARY_EXPR@92..93
                INTEGER_LIT@92..93 "2"
            WHITESPACE@93..94 " "
            MOD@94..95 "%"
            WHITESPACE@95..96 " "
            TERM@96..97
              PRIMARY_EXPR@96..97
                INTEGER_LIT@96..97 "1"
    NEWLINE@97..98 "\n"
    R_BRACE@98..99 "}"
  NEWLINE@99..100 "\n"
  NEWLINE@100..101 "\n"
  RULE_DECL@101..149
    RULE_KW@101..105 "rule"
    WHITESPACE@105..106 " "
    IDENT@106..112 "test_3"
    WHITESPACE@112..113 " "
    L_BRACE@113..114 "{"
    NEWLINE@114..115 "\n"
    WHITESPACE@115..116 "\t"
    CONDITION_BLK@116..147
      CONDITION_KW@116..125 "condition"
      COLON@125..126 ":"
      NEWLINE@126..127 "\n"
      WHITESPACE@127..129 "\t\t"
      BOOLEAN_EXPR@129..147
        BOOLEAN_TERM@129..147
          EXPR@129..140
            TERM@129..140
              PRIMARY_EXPR@129..140
                L_PAREN@129..130 "("
                EXPR@130..139
                  TERM@130..133
                    PRIMARY_EXPR@130..133
                      FLOAT_LIT@130..133 "1.0"
                  WHITESPACE@133..134 " "
                  ADD@134..135 "+"
                  WHITESPACE@135..136 " "
                  TERM@136..139
                    PRIMARY_EXPR@136..139
                      FLOAT_LIT@136..139 "2.3"
                R_PAREN@139..140 ")"
          WHITESPACE@140..141 " "
          LE@141..143 "<="
          WHITESPACE@143..144 " "
          EXPR@144..147
            TERM@144..147
              PRIMARY_EXPR@144..147
                FLOAT_LIT@144..147 "3.0"
    NEWLINE@147..148 "\n"
    R_BRACE@148..149 "}"
  NEWLINE@149..150 "\n"
  NEWLINE@150..151 "\n"
  RULE_DECL@151..196
    RULE_KW@151..155 "rule"
    WHITESPACE@155..156 " "
    IDENT@156..162 "test_4"
    WHITESPACE@162..163 " "
    L_BRACE@163..164 "{"
    NEWLINE@164..165 "\n"
    WHITESPACE@165..166 "\t"
    CONDITION_BLK@166..194
      CONDITION_KW@166..175 "condition"
      COLON@175..176 ":"
      NEWLINE@176..177 "\n"
      WHITESPACE@177..179 "\t\t"
      BOOLEAN_EXPR@179..194
        BOOLEAN_TERM@179..194
          EXPR@179..185
            TERM@179..180
              PRIMARY_EXPR@179..180
                INTEGER_LIT@179..180 "1"
            WHITESPACE@180..181 " "
            SHR@181..183 ">>"
            WHITESPACE@183..184 " "
            TERM@184..185
              PRIMARY_EXPR@184..185
                INTEGER_LIT@184..185 "2"
          WHITESPACE@185..186 " "
          EQ@186..188 "=="
          WHITESPACE@188..189 " "
          EXPR@189..194
            TERM@189..190
              PRIMARY_EXPR@189..190
                INTEGER_LIT@189..190 "1"
            WHITESPACE@190..191 " "
            BITWISE_AND@191..192 "&"
            WHITESPACE@192..193 " "
            TERM@193..194
              PRIMARY_EXPR@193..194
                INTEGER_LIT@193..194 "1"
    NEWLINE@194..195 "\n"
    R_BRACE@195..196 "}"
  NEWLINE@196..197 "\n"
  NEWLINE@197..198 "\n"
  RULE_DECL@198..240
    RULE_KW@198..202 "rule"
    WHITESPACE@202..203 " "
    IDENT@203..209 "test_4"
    WHITESPACE@209..210 " "
    L_BRACE@210..211 "{"
    NEWLINE@211..212 "\n"
    WHITESPACE@212..213 "\t"
    CONDITION_BLK@213..238
      CONDITION_KW@213..222 "condition"
      COLON@222..223 ":"
      NEWLINE@223..224 "\n"
      WHITESPACE@224..226 "\t\t"
      BOOLEAN_EXPR@226..238
        BOOLEAN_TERM@226..238
          EXPR@226..232
            TERM@226..227
              PRIMARY_EXPR@226..227
                INTEGER_LIT@226..227 "1"
            WHITESPACE@227..228 " "
            SHL@228..230 "<<"
            WHITESPACE@230..231 " "
            TERM@231..232
              PRIMARY_EXPR@231..232
                INTEGER_LIT@231..232 "2"
          WHITESPACE@232..233 " "
          EQ@233..235 "=="
          WHITESPACE@235..236 " "
          EXPR@236..238
            TERM@236..238
              PRIMARY_EXPR@236..238
                BITWISE_NOT@236..237 "~"
                TERM@237..238
                  PRIMARY_EXPR@237..238
                    INTEGER_LIT@237..238 "1"
    NEWLINE@238..239 "\n"
    R_BRACE@239..240 "}"
  NEWLINE@240..241 "\n"
  NEWLINE@241..242 "\n"
  RULE_DECL@242..284
    RULE_KW@242..246 "rule"
    WHITESPACE@246..247 " "
    IDENT@247..253 "test_5"
    WHITESPACE@253..254 " "
    L_BRACE@254..255 "{"
    NEWLINE@255..256 "\n"
    WHITESPACE@256..257 "\t"
    CONDITION_BLK@257..282
      CONDITION_KW@257..266 "condition"
      COLON@266..267 ":"
      NEWLINE@267..268 "\n"
      WHITESPACE@268..270 "\t\t"
      BOOLEAN_EXPR@270..282
        BOOLEAN_TERM@270..282
          EXPR@270..277
            TERM@270..272
              PRIMARY_EXPR@270..272
                MINUS@270..271 "-"
                TERM@271..272
                  PRIMARY_EXPR@271..272
                    INTEGER_LIT@271..272 "1"
            WHITESPACE@272..273 " "
            ADD@273..274 "+"
            WHITESPACE@274..275 " "
            TERM@275..277
              PRIMARY_EXPR@275..277
                MINUS@275..276 "-"
                TERM@276..277
                  PRIMARY_EXPR@276..277
                    INTEGER_LIT@276..277 "1"
          WHITESPACE@277..278 " "
          EQ@278..280 "=="
          WHITESPACE@280..281 " "
          EXPR@281..282
            TERM@281..282
              PRIMARY_EXPR@281..282
                INTEGER_LIT@281..282 "0"
    NEWLINE@282..283 "\n"
    R_BRACE@283..284 "}"
  NEWLINE@284..285 "\n"
  NEWLINE@285..286 "\n"
  RULE_DECL@286..338
    RULE_KW@286..290 "rule"
    WHITESPACE@290..291 " "
    IDENT@291..297 "test_5"
    WHITESPACE@297..298 " "
    L_BRACE@298..299 "{"
    NEWLINE@299..300 "\n"
    WHITESPACE@300..301 "\t"
    CONDITION_BLK@301..336
      CONDITION_KW@301..310 "condition"
      COLON@310..311 ":"
      NEWLINE@311..312 "\n"
      WHITESPACE@312..314 "\t\t"
      BOOLEAN_EXPR@314..336
        BOOLEAN_TERM@314..336
          EXPR@314..328
            TERM@314..328
              PRIMARY_EXPR@314..328
                MINUS@314..315 "-"
                TERM@315..328
                  PRIMARY_EXPR@315..328
                    L_PAREN@315..316 "("
                    EXPR@316..327
                      TERM@316..320
                        PRIMARY_EXPR@316..320
                          INTEGER_LIT@316..320 "0x01"
                      WHITESPACE@320..321 " "
                      ADD@321..322 "+"
                      WHITESPACE@322..323 " "
                      TERM@323..327
                        PRIMARY_EXPR@323..327
                          INTEGER_LIT@323..327 "0x10"
                    R_PAREN@327..328 ")"
          WHITESPACE@328..329 " "
          EQ@329..331 "=="
          WHITESPACE@331..332 " "
          EXPR@332..336
            TERM@332..336
              PRIMARY_EXPR@332..336
                INTEGER_LIT@332..336 "0o10"
    NEWLINE@336..337 "\n"
    R_BRACE@337..338 "}"
