SOURCE_FILE@0..85
  RULE_DECL@0..85
    RULE_KW@0..4 "rule"
    WHITESPACE@4..5 " "
    IDENT@5..9 "test"
    WHITESPACE@9..10 " "
    L_BRACE@10..11 "{"
    NEWLINE@11..12 "\n"
    WHITESPACE@12..13 "\t"
    PATTERNS_BLK@13..64
      STRINGS_KW@13..20 "strings"
      COLON@20..21 ":"
      NEWLINE@21..22 "\n"
      WHITESPACE@22..25 "\t  "
      PATTERN_DEF@25..64
        PATTERN_IDENT@25..27 "$a"
        WHITESPACE@27..28 " "
        EQUAL@28..29 "="
        WHITESPACE@29..30 " "
        HEX_PATTERN@30..64
          L_BRACE@30..31 "{"
          WHITESPACE@31..32 " "
          HEX_SUB_PATTERN@32..62
            HEX_BYTE@32..34 "00"
            WHITESPACE@34..35 " "
            HEX_BYTE@35..37 "11"
            WHITESPACE@37..38 " "
            HEX_BYTE@38..40 "AA"
            WHITESPACE@40..41 " "
            HEX_BYTE@41..43 "??"
            WHITESPACE@43..44 " "
            HEX_BYTE@44..46 "B?"
            WHITESPACE@46..47 " "
            HEX_BYTE@47..49 "?2"
            WHITESPACE@49..50 " "
            HEX_BYTE@50..53 "~02"
            WHITESPACE@53..54 " "
            HEX_BYTE@54..56 "11"
            HEX_BYTE@56..58 "22"
            HEX_BYTE@58..60 "33"
            HEX_BYTE@60..62 "44"
          WHITESPACE@62..63 " "
          R_BRACE@63..64 "}"
    NEWLINE@64..65 "\n"
    WHITESPACE@65..67 "  "
    CONDITION_BLK@67..83
      CONDITION_KW@67..76 "condition"
      COLON@76..77 ":"
      NEWLINE@77..78 "\n"
      WHITESPACE@78..81 "\t  "
      BOOLEAN_EXPR@81..83
        BOOLEAN_TERM@81..83
          PATTERN_IDENT@81..83 "$a"
    NEWLINE@83..84 "\n"
    R_BRACE@84..85 "}"
