SOURCE_FILE@0..190
  RULE_DECL@0..104
    RULE_KW@0..4 "rule"
    WHITESPACE@4..5 " "
    IDENT@5..11 "test_1"
    WHITESPACE@11..12 " "
    L_BRACE@12..13 "{"
    NEWLINE@13..14 "\n"
    WHITESPACE@14..15 "\t"
    PATTERNS_BLK@15..81
      STRINGS_KW@15..22 "strings"
      COLON@22..23 ":"
      NEWLINE@23..24 "\n"
      WHITESPACE@24..27 "\t  "
      PATTERN_DEF@27..81
        PATTERN_IDENT@27..29 "$a"
        WHITESPACE@29..30 " "
        EQUAL@30..31 "="
        WHITESPACE@31..32 " "
        HEX_PATTERN@32..81
          L_BRACE@32..33 "{"
          WHITESPACE@33..34 " "
          HEX_SUB_PATTERN@34..79
            HEX_BYTE@34..36 "11"
            WHITESPACE@36..37 " "
            HEX_JUMP@37..40
              L_BRACKET@37..38 "["
              INTEGER_LIT@38..39 "0"
              R_BRACKET@39..40 "]"
            WHITESPACE@40..41 " "
            HEX_BYTE@41..43 "22"
            WHITESPACE@43..44 " "
            HEX_JUMP@44..49
              L_BRACKET@44..45 "["
              INTEGER_LIT@45..46 "1"
              HYPHEN@46..47 "-"
              INTEGER_LIT@47..48 "2"
              R_BRACKET@48..49 "]"
            WHITESPACE@49..50 " "
            HEX_BYTE@50..52 "33"
            WHITESPACE@52..53 " "
            HEX_JUMP@53..59
              L_BRACKET@53..54 "["
              HYPHEN@54..55 "-"
              INTEGER_LIT@55..58 "100"
              R_BRACKET@58..59 "]"
            WHITESPACE@59..60 " "
            HEX_BYTE@60..62 "44"
            WHITESPACE@62..63 " "
            HEX_JUMP@63..69
              L_BRACKET@63..64 "["
              INTEGER_LIT@64..67 "100"
              HYPHEN@67..68 "-"
              R_BRACKET@68..69 "]"
            WHITESPACE@69..70 " "
            HEX_BYTE@70..72 "55"
            WHITESPACE@72..73 " "
            HEX_JUMP@73..76
              L_BRACKET@73..74 "["
              HYPHEN@74..75 "-"
              R_BRACKET@75..76 "]"
            WHITESPACE@76..77 " "
            HEX_BYTE@77..79 "66"
          WHITESPACE@79..80 " "
          R_BRACE@80..81 "}"
    NEWLINE@81..82 "\n"
    WHITESPACE@82..84 "  "
    CONDITION_BLK@84..102
      CONDITION_KW@84..93 "condition"
      COLON@93..94 ":"
      NEWLINE@94..95 "\n"
      WHITESPACE@95..98 "\t  "
      BOOLEAN_EXPR@98..102
        BOOLEAN_TERM@98..102
          TRUE_KW@98..102 "true"
    NEWLINE@102..103 "\n"
    R_BRACE@103..104 "}"
  NEWLINE@104..105 "\n"
  NEWLINE@105..106 "\n"
  RULE_DECL@106..190
    RULE_KW@106..110 "rule"
    WHITESPACE@110..111 " "
    IDENT@111..117 "test_2"
    WHITESPACE@117..118 " "
    L_BRACE@118..119 "{"
    NEWLINE@119..120 "\n"
    WHITESPACE@120..121 "\t"
    PATTERNS_BLK@121..167
      STRINGS_KW@121..128 "strings"
      COLON@128..129 ":"
      NEWLINE@129..130 "\n"
      WHITESPACE@130..133 "\t  "
      PATTERN_DEF@133..167
        PATTERN_IDENT@133..135 "$a"
        WHITESPACE@135..136 " "
        EQUAL@136..137 "="
        WHITESPACE@137..138 " "
        HEX_PATTERN@138..167
          L_BRACE@138..139 "{"
          WHITESPACE@139..140 " "
          HEX_SUB_PATTERN@140..165
            HEX_BYTE@140..142 "11"
            WHITESPACE@142..143 " "
            HEX_JUMP@143..146
              L_BRACKET@143..144 "["
              INTEGER_LIT@144..145 "0"
              R_BRACKET@145..146 "]"
            WHITESPACE@146..147 " "
            HEX_BYTE@147..149 "22"
            WHITESPACE@149..150 " "
            HEX_JUMP@150..155
              L_BRACKET@150..151 "["
              INTEGER_LIT@151..152 "1"
              HYPHEN@152..153 "-"
              INTEGER_LIT@153..154 "2"
              R_BRACKET@154..155 "]"
            WHITESPACE@155..156 " "
            HEX_JUMP@156..162
              L_BRACKET@156..157 "["
              INTEGER_LIT@157..160 "100"
              HYPHEN@160..161 "-"
              R_BRACKET@161..162 "]"
            WHITESPACE@162..163 " "
            HEX_BYTE@163..165 "33"
          WHITESPACE@165..166 " "
          R_BRACE@166..167 "}"
    NEWLINE@167..168 "\n"
    WHITESPACE@168..170 "  "
    CONDITION_BLK@170..188
      CONDITION_KW@170..179 "condition"
      COLON@179..180 ":"
      NEWLINE@180..181 "\n"
      WHITESPACE@181..184 "\t  "
      BOOLEAN_EXPR@184..188
        BOOLEAN_TERM@184..188
          TRUE_KW@184..188 "true"
    NEWLINE@188..189 "\n"
    R_BRACE@189..190 "}"
