SOURCE_FILE@0..208
  RULE_DECL@0..207
    RULE_KW@0..4 "rule"
    WHITESPACE@4..5 " "
    IDENT@5..9 "test"
    WHITESPACE@9..10 " "
    L_BRACE@10..11 "{"
    NEWLINE@11..12 "\n"
    WHITESPACE@12..13 "\t"
    META_BLK@13..186
      META_KW@13..17 "meta"
      COLON@17..18 ":"
      NEWLINE@18..19 "\n"
      WHITESPACE@19..22 "\t  "
      META_DEF@22..34
        IDENT@22..30 "some_int"
        WHITESPACE@30..31 " "
        EQUAL@31..32 "="
        WHITESPACE@32..33 " "
        INTEGER_LIT@33..34 "1"
      NEWLINE@34..35 "\n"
      WHITESPACE@35..38 "\t  "
      META_DEF@38..51
        IDENT@38..46 "some_int"
        WHITESPACE@46..47 " "
        EQUAL@47..48 "="
        WHITESPACE@48..49 " "
        MINUS@49..50 "-"
        INTEGER_LIT@50..51 "2"
      NEWLINE@51..52 "\n"
      WHITESPACE@52..55 "\t  "
      META_DEF@55..72
        IDENT@55..65 "some_float"
        WHITESPACE@65..66 " "
        EQUAL@66..67 "="
        WHITESPACE@67..68 " "
        FLOAT_LIT@68..72 "3.14"
      NEWLINE@72..73 "\n"
      WHITESPACE@73..76 "\t  "
      META_DEF@76..94
        IDENT@76..86 "some_float"
        WHITESPACE@86..87 " "
        EQUAL@87..88 "="
        WHITESPACE@88..89 " "
        MINUS@89..90 "-"
        FLOAT_LIT@90..94 "3.14"
      NEWLINE@94..95 "\n"
      WHITESPACE@95..98 "\t  "
      META_DEF@98..114
        IDENT@98..107 "some_bool"
        WHITESPACE@107..108 " "
        EQUAL@108..109 "="
        WHITESPACE@109..110 " "
        TRUE_KW@110..114 "true"
      NEWLINE@114..115 "\n"
      WHITESPACE@115..118 "\t  "
      META_DEF@118..135
        IDENT@118..127 "some_bool"
        WHITESPACE@127..128 " "
        EQUAL@128..129 "="
        WHITESPACE@129..130 " "
        FALSE_KW@130..135 "false"
      NEWLINE@135..136 "\n"
      WHITESPACE@136..139 "\t  "
      META_DEF@139..155
        IDENT@139..147 "some_str"
        WHITESPACE@147..148 " "
        EQUAL@148..149 "="
        WHITESPACE@149..150 " "
        STRING_LIT@150..155 "\"foo\""
      NEWLINE@155..156 "\n"
      WHITESPACE@156..159 "\t  "
      META_DEF@159..186
        IDENT@159..167 "some_str"
        WHITESPACE@167..168 " "
        EQUAL@168..169 "="
        WHITESPACE@169..170 " "
        STRING_LIT@170..186 "\"\"\"foo\n\t  bar\"\"\""
    NEWLINE@186..187 "\n"
    WHITESPACE@187..188 "\t"
    CONDITION_BLK@188..205
      CONDITION_KW@188..197 "condition"
      COLON@197..198 ":"
      NEWLINE@198..199 "\n"
      WHITESPACE@199..201 "\t\t"
      BOOLEAN_EXPR@201..205
        BOOLEAN_TERM@201..205
          TRUE_KW@201..205 "true"
    NEWLINE@205..206 "\n"
    R_BRACE@206..207 "}"
  NEWLINE@207..208 "\n"
