SOURCE_FILE@0..36
  ERROR@0..36
    RULE_KW@0..4 "rule"
    WHITESPACE@4..5 " "
    IDENT@5..9 "test"
    WHITESPACE@9..10 " "
    EQUAL@10..11 "="
    WHITESPACE@11..12 " "
    L_BRACE@12..13 "{"
    NEWLINE@13..14 "\n"
    WHITESPACE@14..16 "  "
    CONDITION_KW@16..25 "condition"
    COLON@25..26 ":"
    NEWLINE@26..27 "\n"
    WHITESPACE@27..30 "\t  "
    TRUE_KW@30..34 "true"
    NEWLINE@34..35 "\n"
    R_BRACE@35..36 "}"

ERRORS:
- [10..11]: expecting `:` or `{`, found `=`
