SOURCE_FILE@0..75
  RULE_DECL@0..75
    RULE_KW@0..4 "rule"
    WHITESPACE@4..5 " "
    IDENT@5..9 "test"
    WHITESPACE@9..10 " "
    L_BRACE@10..11 "{"
    NEWLINE@11..12 "\n"
    WHITESPACE@12..16 "    "
    CONDITION_BLK@16..73
      CONDITION_KW@16..25 "condition"
      COLON@25..26 ":"
      NEWLINE@26..27 "\n"
      WHITESPACE@27..35 "        "
      ERROR@35..73
        WITH_KW@35..39 "with"
        WHITESPACE@39..40 " "
        IDENT@40..43 "foo"
        WHITESPACE@43..44 " "
        COLON@44..45 ":"
        WHITESPACE@45..46 " "
        L_PAREN@46..47 "("
        NEWLINE@47..48 "\n"
        WHITESPACE@48..60 "            "
        IDENT@60..63 "foo"
        NEWLINE@63..64 "\n"
        WHITESPACE@64..72 "        "
        R_PAREN@72..73 ")"
    NEWLINE@73..74 "\n"
    R_BRACE@74..75 "}"

ERRORS:
- [44..45]: expecting `=`, found `:`
