name: Code health

on: [ push, pull_request ]

jobs:
  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
    - uses: dtolnay/rust-toolchain@1.89.0
      with:
        components: clippy
    - run: cargo clippy --tests --no-deps -- --deny clippy::all

  rustfmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
    - uses: dtolnay/rust-toolchain@1.89.0
      with:
        components: rustfmt
    - run: cargo fmt --all --check