name: Golang package

on:
  push:
    paths:
    - 'go/**'
    - '.github/workflows/golang.yaml'

permissions:
  contents: read

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        go-version: [ '1.19', '1.20', '1.21.x', '1.22.x', '1.23.x', '1.24.x', '1.25.x' ]
        os: [ ubuntu-latest, macos-latest ]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2

    - name: Setup Go ${{ matrix.go-version }}
      uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34  # v5.3.0
      with:
        go-version: ${{ matrix.go-version }}

    - name: Setup Rust
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: stable

    - name: Install cargo-c
      run: cargo install cargo-c

    - name: Build and install Rust library
      run: cargo cinstall -p yara-x-capi --release --pkgconfigdir=${{ github.workspace }} --includedir=${{ github.workspace }} --libdir=${{ github.workspace }}

    - name: Run Go tests
      run: |
        cd go
        go test
      env:
        PKG_CONFIG_PATH: ${{ github.workspace }}
        LD_LIBRARY_PATH: ${{ github.workspace }}