name: Python extension

on:
  push:
    paths:
    - 'py/**'
    - '.github/workflows/python.yaml'

permissions:
  contents: read

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.9", "3.10", "3.11", "3.12" ]
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
    - uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38  # v5.4.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: Test Python - Windows
      if: runner.os == 'Windows'
      run: |
        pip install virtualenv
        virtualenv venv; venv\Scripts\activate.ps1
        pwd
        python -m pip install --upgrade pip maturin>=1.7.8
        python -m pip install pytest
        maturin develop --manifest-path py/Cargo.toml --features=test_proto2-module,test_proto3-module
        pytest py

    # Non-windows
    - name: Test Python - Non-Windows
      if: runner.os != 'Windows'
      run: |
        pip install virtualenv
        virtualenv venv; source venv/bin/activate
        python -m pip install --upgrade pip maturin>=1.7.8
        python -m pip install pytest
        maturin develop --manifest-path py/Cargo.toml --features=test_proto2-module,test_proto3-module
        pytest py

