name: Python extension

on:
  push:
    paths:
      - 'yara-x-py/**'
      - '.github/workflows/python.yaml'

permissions:
  contents: read

jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [x86_64, aarch64]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.target }}
          args: --release --out dist --find-interpreter
          working-directory: yara-x-py
          sccache: "true"
          manylinux: auto
      - name: Upload wheels
        uses: actions/upload-artifact@v3
        with:
          name: wheels
          path: dist

  windows:
    runs-on: windows-latest
    strategy:
      matrix:
        target: [x64]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          architecture: ${{ matrix.target }}
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.target }}
          args: --release --out dist --find-interpreter
          working-directory: yara-x-py
          sccache: "true"
      - name: Upload wheels
        uses: actions/upload-artifact@v3
        with:
          name: wheels
          path: dist

  macos:
    runs-on: macos-latest
    strategy:
      matrix:
        target: [x86_64, aarch64]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.target }}
          args: --release --out dist --find-interpreter
          working-directory: yara-x-py
          sccache: "true"
      - name: Upload wheels
        uses: actions/upload-artifact@v3
        with:
          name: wheels
          path: dist

  release:
    runs-on: ubuntu-latest
    if: "startsWith(github.ref, 'refs/tags/')"
    needs: [linux, windows, macos]
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: wheels
      - name: Publish to PyPI
        uses: PyO3/maturin-action@v1
        env:
          MATURIN_PYPI_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        with:
          command: upload
          args: --skip-existing *
          working-directory: yara-x-py

  test:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8, 3.9, "3.10", "3.11"]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      
      # Windows
      - name: Install OpenSSL
        if: runner.os == 'Windows'   
        id: vcpkg
        uses: johnwason/vcpkg-action@v5
        with:
          pkgs: openssl
          triplet: x64-windows-static
          token: ${{ github.token }}
      - name: Set OPENSSL_DIR environment variable
        if: runner.os == 'Windows'   
        shell: bash
        run: echo "OPENSSL_DIR=${{ github.workspace }}\\vcpkg\\installed\\x64-windows-static" >> $GITHUB_ENV
      - name: Test Python - Windows
        if: runner.os == 'Windows'
        run: |
          pip install virtualenv
          virtualenv venv; venv\Scripts\activate.ps1
          pwd
          python -m pip install --upgrade pip maturin
          python -m pip install pytest
          maturin develop --manifest-path yara-x-py/Cargo.toml
          pytest yara-x-py
          
      # Non-windows
      - name: Test Python - Non-Windows
        if: runner.os != 'Windows'
        run: |
          pip install virtualenv
          virtualenv venv; source venv/bin/activate
          python -m pip install --upgrade pip maturin
          python -m pip install pytest
          maturin develop --manifest-path yara-x-py/Cargo.toml
          pytest yara-x-py

