name: Tests
on:
  pull_request:
  push:
jobs:
  test:
    name: Test
    env:
      CARGO_TERM_COLOR: always
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        build:
          - msrv
          - stable
          - nightly
          - macos
          - win-msvc
          - win-gnu
          - constant-folding-off
        include:
          - build: msrv
            os: ubuntu-latest
            rust: 1.66.1
            args: ""

          - build: stable
            os: ubuntu-latest
            rust: stable
            args: ""

          - build: nightly
            os: ubuntu-latest
            rust: nightly
            args: ""

          - build: macos
            os: macos-latest
            rust: stable
            args: ""

          - build: win-msvc
            os: windows-latest
            rust: stable
            args: ""

          - build: win-gnu
            os: windows-latest
            rust: stable-x86_64-gnu
            args: ""

          - build: constant-folding-off
            os: ubuntu-latest
            rust: stable
            args: "--no-default-features --features=test_proto2-module,test_proto3-module,ascii-tree"
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Setup cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}

      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --workspace --all-targets ${{ matrix.args }}
        env:
          RUSTFLAGS: -Awarnings # Allow all warnings
