name: Test suite

on: [push, pull_request]

jobs:
  tests:
    name: Run tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macOS-latest ]
        rust:
        - stable
        - nightly
        - 1.66.1  # Minimum Supported Rust Version (MSRV)
        cargo-test-args:
        - "--features=test_proto2-module,test_proto3-module,ascii-tree"
        - "--features=constant-folding,test_proto2-module,test_proto3-module,ascii-tree"
    env:
      CARGO_TERM_COLOR: always
    steps:
    - name: Checkout sources
      uses: actions/checkout@v3

    - name: Setup cache
      uses: actions/cache@v3
      with:
        path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - name: Install Rust toolchain
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: ${{ matrix.rust }}

    - name: Run cargo test
      uses: actions-rs/cargo@v1
      with:
        command: test
        args: --workspace --all-targets --no-default-features ${{ matrix.cargo-test-args }}
      env:
        RUSTFLAGS: -Awarnings  # Allow all warnings